/* Team section */
.section-team {
    padding: 50px 0;
}

.section-team__description {
    font-family: var(--font-RobotoR);
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: var(--font-color-grey);

    margin: 0 auto 96px;
    padding: 0 124px;
}

.team-list {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.team-list__item {
    /* text-align: center; */
    position: relative;
    -webkit-transition: -webkit-transform 0.2s linear;
    transition: -webkit-transform 0.2s linear;
    transition: transform 0.2s linear;
    transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}

.team-list__item:hover {
    -webkit-transform: translate(-10px, -10px);
            transform: translate(-10px, -10px);
}

.team-list__item:hover .team-list__img-wrapper {
    -webkit-transition: -webkit-box-shadow 0.2s linear;
    transition: -webkit-box-shadow 0.2s linear;
    transition: box-shadow 0.2s linear;
    transition: box-shadow 0.2s linear, -webkit-box-shadow 0.2s linear;
    -webkit-box-shadow: 10px 10px rgb(149, 225, 211);
            box-shadow: 10px 10px rgb(149, 225, 211);
}

.team-list__item:hover .team-list-img-overlay {
    opacity: 1;
}

.team-list__img-wrapper {
    margin-bottom: 30px;
}

.team-list-img-overlay {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    
    width: 380px;
    height: 470px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(243, 129, 129, .9)), to(rgba(252, 227, 138, .9)));
    background-image: linear-gradient(to bottom, rgba(243, 129, 129, .9), rgba(252, 227, 138, .9));

    /* align icons */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.team-list__img {}

.team-list__title {
    font-family: var(--font-MontserratR);
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: var(--font-color-dark-grey);
    text-align: center;

    margin-bottom: 16px;
}

.team-list__descr {
    font-family: var(--font-RobotoLI);
    font-size: 15px;
    line-height: 18px;
    color: var(--font-color-grey);
    text-align: center;
}

/* Share icons */
.share-icons {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.share-icons__item {
    width: 52px;
    height: 52px;
    
    display: -webkit-box;
    
    display: -ms-flexbox;
    
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

    background-color: #fce38a;
}

.share-icons__item:not(:last-child) {
    border-right: 1px solid #f9bd87;
}

.share-icons__item:hover {
    background-color: #f38181;
    border: none;
}

.share-icons__item:hover .share-icons__img {
    fill: #fff;
}

.share-icons__link {}

.share-icons__img {
    width: 27px;
    height: 27px;

    fill: #f38181;
}